.header {
  border-bottom: 1px solid #eee;
}
.headerLinks {
  /* border-bottom: 1px solid #eee; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 0 10px;
  padding-bottom: 5px;
}

.btnBack,
.settings {
  color: grey;
}
.btnBack:hover {
  color: grey;
}
.inviteRef {
  max-width: 100px;
  border-radius: 5px;
  outline: none;
  border: none;
}
