.sendBox {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: flex;
  background: #fafbfc;
  border-top: 1px solid #e3e4e8;
  border-bottom: 1px solid #e3e4e8;
}
.textarea {
  resize: none;
  width: 100%;
  padding: 5px 10px;
  border-radius: 7px;
  border: 1px solid #e3e4e8;
  height: auto;
  outline: none;
  margin: 10px 0 10px 10px;
}
.btnSend {
  background: url("../../../../assets/img/sendMessage.svg") no-repeat center/30px;
  border: none;
  outline: none;
  min-width: 40px;
  opacity: 0.7;
}
.btnSend:focus {
  outline: none;
}
.btnSend:hover {
  opacity: 1;
}
